* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

/* .main {
    transition: all 0.3s ease-out;
    width: 700px;
    height: 700px;
    background-color: rgb(18, 0, 88);
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.top {

}
.text {
    color: aliceblue;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bottom-border {
    width: 500px;
    height: 35px;
    stroke-dasharray: 1120;
    stroke-width: 5px;
    stroke: #19f6e8;
    border-radius: 1px;
    background-color: blue;
    #9c23b8
    animation-name: border-appearance;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.bottom-inner {

}

 Keyframes 
@keyframes border-appearance {
    0% {
        transform: translate(-100%, -100%); 
    }

    100% {
        transform: translate(0%, 0%); 
    }
} */

html, body {
    background: rgb(20,20,20);
    text-align: center;
    height: 100%;
    overflow: hidden;
    margin: 0;
  }
  ::selection {
    background: linear-gradient(90deg, rgba(191,18,218,1) 0%, rgba(78,221,232,1) 100%);
  }
  .svg-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    width: 500px;
  }
  .shape1,
  .shape2 {
    stroke-dasharray: 560;
    stroke-width: 5px;
    fill: transparent;
    stroke: #19f6e8;
    border-bottom: 5px solid black;
    transition-timing-function: linear;
    transition: stroke-dashoffset 3s, stroke-dasharray 3s;
  }
  .shape1 {
    stroke-dashoffset: 0;
  }
  .shape2 {
    stroke-dashoffset: 0;
  }
  .text {
    font-family: 'Roboto Condensed';
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 8px;
    color: #fff;
    top: -48px;
    position: relative;
  }
  .svg-wrapper:hover .shape1,
  .svg-wrapper:hover .shape2 {
    stroke-dashoffset: 0;
    stroke-dasharray: 0;
  }