* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

/* .main {
    transition: all 0.3s ease-out;
    width: 700px;
    height: 700px;
    background-color: rgb(18, 0, 88);
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.top {

}
.text {
    color: aliceblue;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bottom-border {
    width: 500px;
    height: 35px;
    stroke-dasharray: 1120;
    stroke-width: 5px;
    stroke: #19f6e8;
    border-radius: 1px;
    background-color: blue;
    #9c23b8
    animation-name: border-appearance;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.bottom-inner {

}

 Keyframes 
@keyframes border-appearance {
    0% {
        transform: translate(-100%, -100%); 
    }

    100% {
        transform: translate(0%, 0%); 
    }
} */

html,
body {
  background: rgb(20, 20, 20);
  height: 100%;
  overflow: hidden;
  margin: 0;
}

svg {
  border-radius: 2px;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper:hover .sqr {
  animation-play-state: paused;
}

.sqr {
  height: 35px;
  width: 35px;
  background: rgb(191,18,218);
  background: linear-gradient(90deg, rgba(191,18,218,1) 0%, rgba(78,221,232,1) 100%);

  position: relative;
  top: 0;
  left: -10px;
  animation-name: square;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  /* animation-timing-function: cubic-bezier(0.000, 0.2, 0.8, 1.000); */
  animation-timing-function: linear;
}

.text {
  font-family: 'Roboto Condensed';
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 4px;
  color: #fff;
  text-transform: uppercase;

  width: 700px;
  transform: translateY(80%);
  padding: 0 45px;
}

.svg-wrapper {
  /* position: relative;
  top: 0%; */
  transform: translateY(50%);
  margin: 0 auto;
  width: 700px;
  height: 50px;

  box-shadow: 
  rgb(78, 222, 232, 0.9) 0px 0px 4px 0px, 
  rgb(78, 222, 232, 0.9) 0px 0px 6px 2px,
  inset rgb(78, 222, 232, 0.9) 0px 0px 4px 0px, 
  inset rgb(78, 222, 232, 0.9) 0px 0px 6px 2px;
}

.shape1 {
  border-radius: 2px;
  stroke-dasharray: 560;
  stroke-dashoffset: 0;
  stroke-width: 5px;
  fill: rgb(192, 192, 192);
  fill: none;
  /* stroke: #19f6e8; */
  /* stroke: rgb(25, 246, 232, .8); */
  /* stroke: rgb(191, 18, 218, .8); */
  stroke: rgba(255, 255, 255, 0.6);
  animation-name: shape_1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  /* animation-timing-function: cubic-bezier(0.000, 0.2, 0.8, 1.000); */
  animation-timing-function: ease-out;
}

.shape2 {
  stroke-dasharray: 560;
  stroke-dashoffset: 0;
  stroke-width: 5px;
  fill: transparent;
  stroke: #19f6e8;
  animation-name: shape_2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.000, 0.2, 0.8, 1.000);
}

/* 
  Keyframes
*/

@keyframes square {
  /* Up */
  /* 0% {
    background: rgb(191, 18, 218);
    transform: scale(0, 0) translate(0px, 0px);
  }

  10% {
    background: rgb(191, 18, 218);
    transform: scale(.125, .25) translate(10px, -80px);
  } */

  0% {
    background: rgb(191, 18, 218);
    transform: scale(.25, .25) translate(12.5px, -100px);
  }
  /* Up/ */

  /* Down */
  25% { /*50%*/
    transform: scale(.25, .5) translate(12.5px, -22.5px);
  }

  50% { /*50%*/
    transform: scale(.25, .75) translate(12.5px, 55px);
  }

  75% { /*50%*/
    transform: scale(.25, .5) translate(12.5px, 117px);
  }

  87.5% { /*50%*/
    transform: scale(.25, .375) translate(12.5px, 150px);
  }

  93.75% { /*50%*/
    transform: scale(.25, .3125) translate(12.5px, 200px);
  }

  100% {
    background: linear-gradient(20deg, rgba(95,151,248,1) 0%, rgba(127,100,251,1) 100%);
    transform: scale(.25, .25) translate(12.5px, 245px);
  }
  /* Down/ */

  /* 100% {
    background: linear-gradient(20deg, rgba(95,151,248,1) 0%, rgba(127,100,251,1) 100%);
    transform: scale(1, 1) translate(12.5px, 50px);
  } */

  /* 100% {
    transform: scale(1, 1) translate(-325px, 50px);
  } */
}

@keyframes letters {
  0% {

  }

  100% {

  }
}

/* @keyframes shape_1 {
  from {
    stroke-dashoffset: 0;
  }
  to {
      stroke-dashoffset: 0;
      stroke-dasharray: 0;
  }
} */

@keyframes shape_2 {
  from {
      stroke-dashoffset: 0;
  }
  to {
      stroke-dashoffset: 0;
      stroke-dasharray: 0;
  }
}
