* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

img {
    bottom: -20px;
    right: 0;
    position: relative;
    opacity: 0.1;
    transition: right 1s ease-out, bottom 1s ease-out;
}

img:hover {
    bottom: 0;
    opacity: 1;
    right: 100px;
}