@font-face {
    font-family: 'asap-regular';
    src: url(../fonts/static/Asap-Regular.ttf);
}

@font-face {
    font-family: 'asap-medium';
    src: url(../fonts/static/Asap-Medium.ttf);
}

@font-face {
    font-family: 'asap-bold';
    src: url(../fonts/static/Asap-Bold.ttf);
}
@font-face {
    font-family: 'asap-italic';
    src: url(../fonts/static/Asap-Italic.ttf);
}
@font-face {
    font-family: 'montserrat';
    src: url(../fonts/static/Montserrat-Regular.ttf);
}